// $primary: #61DB98;
$default: #fff;
$agencyDark: #121517;
$agencyGrey: #1E2125;
$agencyOutline: #353B43;
$agencyBlue: #4D96DA;
$agencyLightGrey: #31313C;
$agencyBackground: #121517;

// font(s)
$spaceGrotesk: 'Space Grotesk', 'sans-serif';


// paddings
$xl-pad: 4rem;
$l-pad: 2rem;
$m-pad: 1.5rem;
$s-pad: 1rem;
$xs-pad: 0.5rem;

// margin
$xl-margin: 4.5rem;
$l-margin: 2rem;
$m-margin: 1rem;
$s-margin: 0.5rem;

// border radius
$l-border-radius: 1rem;
$m-border-radius: 0.5rem;
$s-border-radius: 0.3rem;
