@import "./variables";

// reset all to 0
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    transition: all 300ms
}

html, body{
    border: none;
    line-height: 1.3;
    width: 100%;
    height: 100%;
    text-align: justify;
    font-family: $spaceGrotesk;
    // overflow: hidden;

    ::-webkit-scrollbar{
        // display: none;
        width: 0.5rem;
    }

    ::-webkit-scrollbar-thumb{
        // border: 1px solid $secondary;
        border-radius: 0.3rem;
        // background-color: $primary;
    }

    ::-webkit-scrollbar-track{
        // box-shadow: inset 0 0 2px $default;
    }
}